
.navbar-inverse{
  font-size: 14pt;
  color:#DC143C;
  background-color: #4B0082;
}


h1{
 text-align: center; font-size: 30pt;
  padding-left: 16px;
 }



 ul
  {
    list-style-type: none; margin: 0; padding: 10px; /*remove bullets */
    overflow: hidden;
  }


dl{
   background-color: lightgreen;
}


.jumbotron{
   background-image: url('images/wildflower2.jpg');
   background-size: cover;
   background-attachment: fixed;
   max-height: 700px;
 }

#welcome{
  background-color: #FDF5E6;
  background-size: cover;
  background-attachment: fixed;
   max-height: cover;
}
