
.navbar-inverse{
  font-size: 16pt;
  /*color: black;*/
  background-color: transparent;
  border-color: transparent;
}

.navbar-brand{
  font-size: 20pt;
}

.jumbotron{
   background-image: url('images/nibras-riyami.jpg');
   background-size: cover;
   background-attachment: fixed;

   max-height: none;
 }

.about{
  background-color: pink
  padding: 100pt;
}
/*.nav.navbar-nav.navbar-right li a {
    color: black;
    }
*/

h1{
 text-align: center; font-size: 30pt;
  padding-left: 16px;
 }

 ul
  {
    list-style-type: none; margin: 0; padding: 10px; /*remove bullets */
    overflow: hidden;
  }

dl{
  background-image: url(images/jess-watters-pencils.jpg);
  background-size: cover;
  padding: 10pt;
  max-height: none;
}
/*body{
  background-color: #92a8d1;
  background-size: cover;
  background-attachment: fixed;
   max-height: cover;
}*/
